body{font-family: 'Open Sans', sans-serif;color:#333;background:url(../img/bg.jpg) no-repeat center top fixed;}
#wrapper{width: 960px;margin:0 auto;position: relative;}



#board{width: 960px;position:relative;}

.title{background-color:#3b7ca4;padding: 10px 0px;color:#fff;font:400 16px 'Open Sans',sans-serif;text-align: center}
#counter{text-align:left;display:inline;}


.wrapp{width:770px;float:left;}
.wrappr{width:160px;float:right;margin:0 5px 0 0;}
#todo,#inprogress{background-color: #f5f5f5;min-height: 450px;}

#inprogress [id^="item"]{cursor: not-allowed;}
*[draggable="true"]{width: 70px;height: 70px;float:left;}
.cardTitle{color:#fff;margin-top: 40%;text-align: center;}
.clear:before,.clear:after{content: " ";display: table;}.clear:after {clear: both;}

.msg{font-size:27px;text-align: center;padding:23% 0 0 0;}
.msg a{background:#3b7ca4;color:#fff;text-decoration: none;padding:5px 8px;transition:background .5s ease;}
.reset{background:#3b7ca4;border:0;color:#fff;width:100%;padding:10px 0;cursor: pointer;transition:background .5s ease;}
.msg a:hover,.reset:hover{background:#3a3f65;}

.share{margin: 10px 0;font:400 14px 'Open Sans', sans-serif;background:#f5f5f5;padding:0 0 10px 0;}
.share input{width:148px; padding:10px 0;border:1px solid #eee;margin:10px 5px 0 5px;}
.share .fb-share-button{width:50%;float:left;margin:10px 0 0 10px;}
.share .twitter-share-button{float:right;margin:10px 10px 0 0;}

.cred{font-size:12px;color:#fff;}
.cred a{color:#fff;}

.ad{width:728px;height:90px;margin:5px auto 10px;background:url(../img/72890.jpg);}

/*
#############
  BATTLE FRAMES
#############
*/
#banner{width: 960px;position:relative;margin: 4px 0;}
#banner .wrap{margin:0 0 5px 0;height: 80px;}
[class*="cldisp_"]{position:relative;margin:0 5px 0 0;width:115px;height:80px;display:block;float:left;background:url(../img/frame.jpg);cursor:help;overflow: hidden;}
.dreadnaught{background-position: 0 0}
.arsenal{background-position: -345px 0}
.rhino{background-position: -230px 0}
.mammoth{background-position: -115px 0}

.assault{background-position:0 -80px}
.tigerclaw{background-position: -115px -80px}
.firecat{background-position: -230px -80px}

.recon{background-position:0 -160px}
.nighthawk{background-position: -115px -160px}
.raptor{background-position: -230px -160px}

.engineer{background-position:0 -240px}
.bastion{background-position: -115px -240px}
.electron{background-position: -230px -240px}

.biotech{background-position:0 -320px}
.dragonfly{background-position: -115px -320px}
.recluse{background-position: -230px -320px}

[class*="cldisp_"]:last-child{margin:0;}
[class*="cldisp_"] div{background:rgba(255,0,0,.5);display:none;width:100%;height:100%;position: absolute;top:0;left:0;z-index:5;}
[class*="cldisp_"].nope div{display: block;}

[class*="cldisp_"] span.flvl{color:#fff;font:300 0 'Open Sans',sans-serif;padding:0;background:rgba(59,124,164,.5);position:absolute;top: 0;width:0;transition:width .2s ease;}
[class*="cldisp_"]:hover span.flvl{width:16px;padding:3px;font-size: 14px}
[class*="cldisp_"] span.frame{display:block;background:rgba(59,124,164,.5);color:#fff;font:300 12px 'Open Sans',sans-serif;text-align:center;padding:0;width:100%;position:absolute;bottom: 0;height:0;transition:height .2s ease;}
[class*="cldisp_"]:hover span.frame{height:17px;padding:2px 0;}


/*
#############
  PERK TIEM
#############
*/

[id^="item"]{background:url(../img/bg_perk.png) no-repeat 0 0;margin:0 5px 5px 2px;cursor:move;}
[id^="item"] span.picon{display: block;width:64px;height:64px;margin:3px;}

/*[data-weight="1"]{border:1px solid red;}
[data-weight="2"]{border:1px solid blue;}
[data-weight="5"]{border:1px solid yellow;}
[data-weight="8"]{border:1px solid black;}

[id="item5"],[id="item7"],[id="item8"],[id="item9"],[id="item16"],[id="item17"],[id="item20"],[id="item23"],[id="item24"],[id="item25"],[id="item26"],[id="item27"],[id="item28"],[id="item29"],[id="item30"],[id="item31"],[id="item32"],[id="item33"],[id="item34"],[id="item35"],[id="item36"],[id="item37"],[id="item38"],[id="item39"],[id="item40"]
{border: 1px solid orange}
[id="item100"],[id="item101"],[id="item102"],[id="item103"],[id="item104"]{border:1px solid gray;}*/

/*Dreadnaught*/
[id="item14"],[id="item15"],[id="item19"],[id="item21"],[id="item28"],[id="item30"],[id="item33"],[id="item39"],[id="item42"],[id="item44"],[id="item50"],[id="item52"],[id="item62"],[id="item63"],[id="item65"],[id="item69"],[id="item72"],[id="item76"],[id="item81"],[id="item87"],[id="item88"],[id="item92"],[id="item94"]
{background-position:-70px 0;}
[id="item14"] span.picon{background:url(../img/basic/Perk_Harden.png) no-repeat 0 0;} 
[id="item15"] span.picon{background:url(../img/basic/Perk_Get-a-Move-On.png) no-repeat 0 0;}
[id="item19"] span.picon{background:url(../img/basic/Perk_Combat-Veteran.png) no-repeat 0 0;}
[id="item21"] span.picon{background:url(../img/basic/Perk_Back-in-Action.png) no-repeat 0 0;}
[id="item28"] span.picon{background:url(../img/basic/ResilientPlating.png) no-repeat 0 0;}
[id="item30"] span.picon{background:url(../img/basic/PersonalShield.png) no-repeat 0 0;}
[id="item33"] span.picon{background:url(../img/basic/ImminentThreat.png) no-repeat 0 0;}
[id="item39"] span.picon{background:url(../img/basic/Munitions.png) no-repeat 0 0;}
[id="item42"] span.picon{background:url(../img/intermediate/perk_shieldsup.png) no-repeat 0 0;}
[id="item44"] span.picon{background:url(../img/intermediate/Perk_Stopping-Power.png) no-repeat 0 0;}
[id="item50"] span.picon{background:url(../img/intermediate/Perk_Stampede.png) no-repeat 0 0;}
[id="item52"] span.picon{background:url(../img/intermediate/Perk_Knock-Out.png) no-repeat 0 0;}
[id="item62"] span.picon{background:url(../img/intermediate/Perk_Anatomy-Lessons.png) no-repeat 0 0;}
[id="item63"] span.picon{background:url(../img/intermediate/Perk_Incalescent-Armor.png) no-repeat 0 0;}
[id="item65"] span.picon{background:url(../img/intermediate/Perk_Quick-Flexing-Servos.png) no-repeat 0 0;}
[id="item69"] span.picon{background:url(../img/advanced/perk_thickhide.png) no-repeat 0 0;}
[id="item72"] span.picon{background:url(../img/advanced/Perk_Kill-Stealer.png) no-repeat 0 0;}
[id="item76"] span.picon{background:url(../img/advanced/Perk_Ricochet.png) no-repeat 0 0;}
[id="item81"] span.picon{background:url(../img/advanced/Perk_Fully-Loaded.png) no-repeat 0 0;}
[id="item87"] span.picon{background:url(../img/master/Perk_Power-Reserves.png) no-repeat 0 0;}
[id="item88"] span.picon{background:url(../img/master/Perk_Explosives-Expert.png) no-repeat 0 0;}
[id="item92"] span.picon{background:url(../img/master/Perk_Hellbent.png) no-repeat 0 0;}
[id="item94"] span.picon{background:url(../img/master/Perk_Hero.png) no-repeat 0 0;}



/*Assault*/
[id="item3"],[id="item10"],[id="item22"],[id="item25"],[id="item35"],[id="item38"],[id="item48"],[id="item51"],[id="item54"],[id="item58"],[id="item59"],[id="item68"],[id="item79"],[id="item83"],[id="item84"],[id="item85"],[id="item96"]
{background-position:-140px 0;}

[id="item3"]  span.picon{background:url(../img/basic/Perk_Quick-Hands.png) no-repeat 0 0;}
[id="item10"] span.picon{background:url(../img/basic/Perk_Quick-Flexing-Servos.png) no-repeat 0 0;}
[id="item22"] span.picon{background:url(../img/basic/Perk_Collateral-Analytics.png) no-repeat 0 0;}
[id="item25"] span.picon{background:url(../img/basic/NaniteAbsorption.png) no-repeat 0 0;}
[id="item35"] span.picon{background:url(../img/basic/AuxiliaryTanks.png) no-repeat 0 0;}
[id="item38"] span.picon{background:url(../img/basic/Incinerator.png) no-repeat 0 0;}
[id="item48"] span.picon{background:url(../img/intermediate/Perk_Plasma-Enthusiast.png) no-repeat 0 0;}
[id="item51"] span.picon{background:url(../img/intermediate/Perk_Quick-Pivot-Sensors.png) no-repeat 0 0;}
[id="item54"] span.picon{background:url(../img/intermediate/Perk_Epicenter.png) no-repeat 0 0;}
[id="item58"] span.picon{background:url(../img/intermediate/Perk_Flame-Buffer.png) no-repeat 0 0;}
[id="item59"] span.picon{background:url(../img/intermediate/Perk_Prototype-Plama.png) no-repeat 0 0;}
[id="item68"] span.picon{background:url(../img/advanced/Perk_Eye-of-the-Tiger.png) no-repeat 0 0;}
[id="item79"] span.picon{background:url(../img/advanced/Perk_Corpse-Combustion.png) no-repeat 0 0;}
[id="item83"] span.picon{background:url(../img/advanced/Perk_Power-Reserves.png) no-repeat 0 0;}
[id="item84"] span.picon{background:url(../img/master/Perk_Second-Wind.png) no-repeat 0 0;}
[id="item85"] span.picon{background:url(../img/master/Perk_Hunter.png) no-repeat 0 0;}
[id="item96"] span.picon{background:url(../img/master/Perk_Flame-Buffer.png) no-repeat 0 0;}



/*Biotech*/
[id="item0"],[id="item6"],[id="item12"],[id="item26"],[id="item32"],[id="item40"],[id="item41"],[id="item49"],[id="item53"],[id="item57"],[id="item61"],[id="item74"],[id="item75"],[id="item82"],[id="item86"],[id="item95"],[id="item98"]
{background-position:-210px 0;}

[id="item0"]  span.picon{background:url(../img/basic/Perk_Persistance.png) no-repeat 0 0;}
[id="item6"]  span.picon{background:url(../img/basic/Perk_Ventilator.png) no-repeat 0 0;}
[id="item12"] span.picon{background:url(../img/basic/Perk_Bio-Reserves.png) no-repeat 0 0;}
[id="item26"] span.picon{background:url(../img/basic/SiphoningUnit.png) no-repeat 0 0;}
[id="item32"] span.picon{background:url(../img/basic/NecroticPoison.png) no-repeat 0 0;}
[id="item40"] span.picon{background:url(../img/basic/Rally.png) no-repeat 0 0;}
[id="item41"] span.picon{background:url(../img/intermediate/Perk_Frequent-Patient.png) no-repeat 0 0;}
[id="item49"] span.picon{background:url(../img/intermediate/Perk_Nectrotic_Bite.png) no-repeat 0 0;}
[id="item53"] span.picon{background:url(../img/intermediate/Perk_Bio-Blending.png) no-repeat 0 0;}
[id="item57"] span.picon{background:url(../img/intermediate/Perk_Ventilator.png) no-repeat 0 0;}
[id="item61"] span.picon{background:url(../img/intermediate/Perk_Powered-Armor.png) no-repeat 0 0;}
[id="item74"] span.picon{background:url(../img/advanced/Perk_Catalytic-Poisons.png) no-repeat 0 0;}
[id="item75"] span.picon{background:url(../img/advanced/Perk_Potent-Toxins.png) no-repeat 0 0;}
[id="item82"] span.picon{background:url(../img/advanced/Perk_Combat-Medic.png) no-repeat 0 0;}
[id="item86"] span.picon{background:url(../img/master/perk_toxicfinale.png) no-repeat 0 0;}
[id="item95"] span.picon{background:url(../img/master/Perk_Auto-Repair.png) no-repeat 0 0;}
[id="item98"] span.picon{background:url(../img/master/Perk_Anatomy-Lessons.png) no-repeat 0 0;}



/*Engineer*/
[id="item1"],[id="item11"],[id="item18"],[id="item27"],[id="item31"],[id="item37"],[id="item43"],[id="item45"],[id="item55"],[id="item64"],[id="item66"],[id="item70"],[id="item73"],[id="item80"],[id="item89"],[id="item91"],[id="item99"]
{background-position:-280px 0;}

[id="item1"]  span.picon{background:url(../img/basic/Perk_Combustion-Boost.png) no-repeat 0 0;}
[id="item11"] span.picon{background:url(../img/basic/Perk_Fuel-Injectors.png) no-repeat 0 0;}
[id="item18"] span.picon{background:url(../img/basic/Perk_Hardware-Genius.png) no-repeat 0 0;}
[id="item27"] span.picon{background:url(../img/basic/RepairingNanites.png) no-repeat 0 0;}
[id="item31"] span.picon{background:url(../img/basic/Overseer.png) no-repeat 0 0;}
[id="item37"] span.picon{background:url(../img/basic/DynamicRelay.png) no-repeat 0 0;}
[id="item43"] span.picon{background:url(../img/intermediate/Perk_Resonating-Shields.png) no-repeat 0 0;}
[id="item45"] span.picon{background:url(../img/intermediate/Perk_Aug-Shield-Generators.png) no-repeat 0 0;}
[id="item55"] span.picon{background:url(../img/intermediate/Perk_Resilient-Alloys.png) no-repeat 0 0;}
[id="item64"] span.picon{background:url(../img/intermediate/Perk_Persistance.png) no-repeat 0 0;}
[id="item66"] span.picon{background:url(../img/intermediate/Perk_Kinetic-Absorption.png) no-repeat 0 0;}
[id="item70"] span.picon{background:url(../img/advanced/Perk_Mounted-Firepower.png) no-repeat 0 0;}
[id="item73"] span.picon{background:url(../img/advanced/Perk_Sentient-Armor.png) no-repeat 0 0;}
[id="item80"] span.picon{background:url(../img/advanced/Perk_Instant-Module-Refreshers.png) no-repeat 0 0;}
[id="item89"] span.picon{background:url(../img/master/Perk_Rapid-Kinesis-Module.png) no-repeat 0 0;}
[id="item91"] span.picon{background:url(../img/master/Perk_Hyper-Kinesis-Surge.png) no-repeat 0 0;}
[id="item99"] span.picon{background:url(../img/master/Perk_Deployable-Repulsor.png) no-repeat 0 0;}



/*Recon*/
[id="item2"],[id="item4"],[id="item13"],[id="item29"],[id="item34"],[id="item36"],[id="item46"],[id="item47"],[id="item56"],[id="item60"],[id="item67"],[id="item71"],[id="item77"],[id="item78"],[id="item90"],[id="item93"],[id="item97"]
{background-position:-350px 0;}

[id="item2"]  span.picon{background:url(../img/basic/Perk_Headhunter.png) no-repeat 0 0;}
[id="item4"]  span.picon{background:url(../img/basic/Perk_Grenadier.png) no-repeat 0 0;}
[id="item13"] span.picon{background:url(../img/basic/Perk_Basllistics-Expert.png) no-repeat 0 0;}
[id="item29"] span.picon{background:url(../img/basic/NaniteAbsorption.png) no-repeat 0 0;}
[id="item34"] span.picon{background:url(../img/basic/Ambush.png) no-repeat 0 0;}
[id="item36"] span.picon{background:url(../img/basic/Conduit.png) no-repeat 0 0;}
[id="item46"] span.picon{background:url(../img/intermediate/Perk_Physicist.png) no-repeat 0 0;}
[id="item47"] span.picon{background:url(../img/intermediate/Perk_Spec-Ops.png) no-repeat 0 0;}
[id="item56"] span.picon{background:url(../img/intermediate/Perk_SIN-Precision.png) no-repeat 0 0;}
[id="item60"] span.picon{background:url(../img/intermediate/Perk_Powered-Armor.png) no-repeat 0 0;}
[id="item67"] span.picon{background:url(../img/intermediate/Perk_SIN-Precision.png) no-repeat 0 0;}
[id="item71"] span.picon{background:url(../img/advanced/Perk_Tacticiain.png) no-repeat 0 0;}
[id="item77"] span.picon{background:url(../img/advanced/Perk_Quick-Shot.png) no-repeat 0 0;}
[id="item78"] span.picon{background:url(../img/advanced/Perk_Energy-Shaping.png) no-repeat 0 0;}
[id="item90"] span.picon{background:url(../img/master/Perk_Concussion-SHells.png) no-repeat 0 0;}
[id="item93"] span.picon{background:url(../img/master/Perk_Burst-Shells.png) no-repeat 0 0;}
[id="item97"] span.picon{background:url(../img/master/Perk_Plasma-Spikes.png) no-repeat 0 0;}



/*Generic*/
[id="item5"]   span.picon{background:url(../img/basic/Perk_Neutralizer.png) no-repeat 0 0;}
[id="item7"]   span.picon{background:url(../img/basic/Perk_Incalescent-Armor.png) no-repeat 0 0;}
[id="item8"]   span.picon{background:url(../img/basic/Perk_Powered-Armor.png) no-repeat 0 0;}
[id="item9"]   span.picon{background:url(../img/basic/Perk_Kinetic-Absorption.png) no-repeat 0 0;}
[id="item16"]  span.picon{background:url(../img/basic/Perk_Sprinter.png) no-repeat 0 0;}
[id="item17"]  span.picon{background:url(../img/basic/Perk_Prototype-Pistons.png) no-repeat 0 0;}
[id="item20"]  span.picon{background:url(../img/basic/Perk_Man-Hands.png) no-repeat 0 0;}
[id="item23"]  span.picon{background:url(../img/basic/Perk_Neutralizer.png) no-repeat 0 0;}
[id="item24"]  span.picon{background:url(../img/basic/Perk_Incalescent-Armor.png) no-repeat 0 0;}
[id="item100"] span.picon{background:url(../img/achievement/Perk_Grenadier.png) no-repeat 0 0;}
[id="item101"] span.picon{background:url(../img/achievement/Perk_SIN-Precision.png) no-repeat 0 0;}
[id="item102"] span.picon{background:url(../img/achievement/NecroticPoison.png) no-repeat 0 0;}
[id="item103"] span.picon{background:url(../img/achievement/NecroticPoison.png) no-repeat 0 0;}
[id="item104"] span.picon{background:url(../img/achievement/Perk_Chosen-Hunter.png) no-repeat 0 0;}